@import "styles/colors";

.Card {
  border: 1px solid $secondary-main;

  .image {
    height: 300px;
    margin-bottom: 10px;
    width: 100%;

    img,
    svg {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  > p {
    margin-bottom: 10px;
  }
}
