@import "styles/colors";
@import "styles/vars";

.PageLoading {
  align-items: center;
  animation: animate 250ms linear;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  height: calc(100vh - #{$header-height});
  justify-content: center;
  width: 100%;
}

@keyframes animate {

  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
